body {
	background-color:#0f0;
} 


 #divone{ 
	position:relative;
	margin:5% auto;
	padding:5%;
	width:80%;
	height:800px;
	
}
#divone{ background-color: red;}
#divtwo{ background-color: gray;}
#divthree{ background-color: blue; color: #ffffff;}
#divfour{background-color: white;}
#divfive{background-color: black; color: #ffffff;}
.int{
	position:relative;
	margin:1% ;
	padding:1%;
	width:100% auto;
	height:18.5%;
}