body {
	background-color:#00ff00;
} 

#divone {
	position:relative; 
	margin:5% auto; 
	padding: 5%;
	width: 50%; 
	height: 400px; 
    background-color:#ff0000;
} 

#divtwo {

	background-color: #000000;
}

#divthree {
	background-color: #0000ff;
}

.inner {
	position: relative;
	margin: 2% auto;
	padding: 1%;
	width: 100%;
	height: 40%;
	color: #ffffff;
}