body {
	background-color:#fff;
} 


 #divone{
	position:relative;
	margin:5% auto;
	padding:5%;
	width:80%;
	height:400px;
	background-color: #ff0000;
	
}
#divtwo {background-color: #0000ff;}
#divthree{ background-color: #00ff00;}
.int {
	width: 80% auto;
	height: 50%;
	margin: 3%;
	padding: 1%;
	position: relative;
}