body {
	background-color:#999999;
} 


 #divone{
	position:relative;
	margin:5% auto;
	padding:5%;
	width:50%;
	height:800px;
	background-color: red;
	
}

#divtwo{ background-color: #0f0;}
#divthree{ background-color: #00f;color: #fff;}
#divfour{background-color: #999999;}
#divfive{background-color:#000;color: #fff;}
.int {
	width: 19%;
	height: 84%;
	position: relative;
	margin: 2%;
	padding:1%;
	float:left;
}

#clearfix{ 
	float:none;
	clear:both;
}